In [1]:
import pandas as pd

## Read postal codes data from csv
- Dataset was created in previous notebook.

In [5]:
canada_postal = pd.read_csv('canada_postal.csv')
canada_postal.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

## Load geospatial data from csv

In [15]:
geospatial = pd.read_csv('Geospatial_Coordinates.csv')
geospatial.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## Join dataframes

In [18]:
canada_postal = canada_postal.merge(geospatial, left_on="PostalCode", right_on="Postal Code").drop(['Postal Code'], axis = 1)
canada_postal.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [19]:
canada_postal.to_csv('canada_postal_geospatial.csv', index = False)